/**********************/
/* HEADER */
/***********************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbfaf9;

  /*Height because we wanted this to be sticky*/
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 4.2rem;
}

/***********************/
/* NAVIGATION SECTION */
/***********************/

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 300;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #3d5afe;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  display: inline-block;
  background-color: #3d5afe;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #000c51;
}

***********************/
/* HERO SECTION */
/***********************/

.section-hero {
  padding: 4.8rem 0 9.6rem 0;
}
.section-tech {
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

/***********************/
/* FEATURED-IN SECTION */
/***********************/

.section-technologies {
  padding: 4.8rem 0 3.2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logos {
  display: flex;
  justify-content: space-around;
  height: 6rem;
  width: 6rem;
}

.owl-item img {
  height: 7rem;
  width: 6rem;
}
.owl-theme .owl-dots .owl-dot {
  display: none !important;
}

/***********************/
/* PROJECTS SECTION */
/***********************/

.section-projects {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  /* Moving left and top 50% of its width and height */
  transform: translate(-50%, -50%);
}
.step-img-box::before {
  width: 60%;
  /* Not working */
  /* height: 60%; */
  /* 60% of parent's width */
  padding-bottom: 60%;

  background-color: #6cccec;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #3bbfeb;
  z-index: -1;
}

.step-img {
  width: 45%;
}
.step-img-landscape {
  width: 75%;
  border: 1px solid #6ccbeb;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
